@model StrAgent.Models.User

@{
    ViewData["Title"] = "Register";
    Layout = "_Layout";
}

<div class="container-register container-style">
    <form asp-action="Register" style="max-width: 400px;">
        <h1 class="register title-form">Регистрация</h1>
        <input asp-for="Login" class="form-control input-ideal" placeholder="Введите логин">
        <input asp-for="Password" class="form-control input-ideal" type="password" placeholder="Введите пароль">
        <button class="btn btn-primary stock-btn">Отправить</button>
    </form>
</div>