@model StrAgent.Models.Tarif

@{
    ViewData["Title"] = "Изменить тариф";
    Layout = "_LayoutAgent";
}

<h1>Изменить тариф</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditTarif" style="max-width: 400px;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control input-ideal" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control input-ideal" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conditions" class="control-label"></label>
                <input asp-for="Conditions" class="form-control input-ideal" />
                <span asp-validation-for="Conditions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary stock-btn" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="TarifList">Назад</a>
</div>

